body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
    font-family: "Open Sans";
    font-weight: 400;
}

ul {
    list-style-type:none
}

div.content {
    text-align: justify;
}

a:hover {
    background-color: #555;
    color: #FFFFFF;
}

:link {
    color: #555;
}

:visited {
    color: gray;
}

div#header {
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
    font-family: "Open Sans Condensed"
}

div#logo a {
    color: black;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

div#logo a:hover {
    background-color: white;
    color: black;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#header #navigation a:hover {
    color: white;
}

div#footer {
    color: #555;
    font-size: 18px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: center;
}

div#footer a:link {
    color: #555;
}

div#footer a:visited {
    color: #555;
}

div#footer a:hover {
    color: white;
    background: #555;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
